In [1]:
import os
import pandas as pd

In [2]:
import pandas as pd

class TemperatureDataTransformer:
    def __init__(self, data):
        """
        Initialize the class with the wide-format data.
        """
        self.df_wide = pd.DataFrame(data)

    def wide_to_long(self):
        """
        Transform the wide-format data into long format.
        """
        df_long = self.df_wide.melt(id_vars=['Year'], var_name='Month', value_name='Temperature')
        df_long['Date'] = pd.to_datetime(df_long['Year'].astype(str) + '-' + df_long['Month'] + '-01')
        df_long = df_long.set_index('Date')[['Temperature']]
        df_long=df_long.sort_index()
        return df_long

    def long_to_wide(self, df_long):
        """
        Transform the long-format data back into wide format.
        """
        df_long = df_long.reset_index()
        df_long['Year'] = df_long['Date'].dt.year
        df_long['Month'] = df_long['Date'].dt.month_name().str[:3]
        df_wide = df_long.pivot(index='Year', columns='Month', values='Temperature')
        # Reorder columns to match the original format
        month_order = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        df_wide = df_wide[month_order]
        return df_wide.reset_index()

In [3]:
pd.read_csv("/home/radhe/Subha/internship/werather_forcastiing/dataset/Bankura.csv").head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,1901,17.970,21.334,26.523,31.712,32.202,32.075,28.830,28.260,28.071,27.048,21.739,18.100
1,1902,19.304,21.540,28.050,29.945,31.773,31.343,28.291,28.699,28.324,26.327,21.515,17.922
2,1903,19.092,20.611,26.948,31.629,33.581,30.709,29.313,28.320,28.031,26.142,21.093,17.255
3,1904,18.450,21.011,27.169,31.998,31.217,29.839,27.817,28.083,28.095,26.182,21.398,18.735
4,1905,18.249,18.904,25.173,28.574,30.625,32.965,28.291,28.349,27.829,26.294,21.700,18.011

In [3]:

data_path="/home/radhe/Subha/internship/werather_forcastiing/dataset"
data=pd.DataFrame()


for (root,dirs,file) in os.walk(data_path):
    for i,f in enumerate(file):
        if f.endswith('.csv'):
            path=os.path.join(root,f)
            df=pd.read_csv(path)
            convert=TemperatureDataTransformer(df)
            df_long=convert.wide_to_long()
            data[f"{str(f).split('.')[0]}_temp"]=df_long["Temperature"]

KeyError: "The following id_vars or value_vars are not present in the DataFrame: ['Year']"

In [72]:
data.to_csv(os.path.join(data_path, "All_disticts.csv"))