In [1]:
print("radhe radhe")

radhe radhe

In [2]:
from dotenv import load_dotenv
import os

load_dotenv()

# IMPORT DATASET PATH
DATASET_PATH= os.getenv("DATASET_PATH")

In [11]:
import pandas as pd
# LOAD DATASET
df = pd.read_csv(DATASET_PATH,parse_dates=["Year"],dayfirst=False,index_col="Year")
df.head()

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
Year,,,,,,,,,,,,
1901-01-01,17.970,21.334,26.523,31.712,32.202,32.075,28.830,28.260,28.071,27.048,21.739,18.100
1902-01-01,19.304,21.540,28.050,29.945,31.773,31.343,28.291,28.699,28.324,26.327,21.515,17.922
1903-01-01,19.092,20.611,26.948,31.629,33.581,30.709,29.313,28.320,28.031,26.142,21.093,17.255
1904-01-01,18.450,21.011,27.169,31.998,31.217,29.839,27.817,28.083,28.095,26.182,21.398,18.735
1905-01-01,18.249,18.904,25.173,28.574,30.625,32.965,28.291,28.349,27.829,26.294,21.700,18.011

### DATA CLEANING

In [ ]:
# CHECKING IS NULL VALUE HAVE
df.isna().sum()
# #

Jan    0
Feb    0
Mar    0
Apr    0
May    0
Jun    0
Jul    0
Aug    0
Sep    0
Oct    0
Nov    0
Dec    0
dtype: int64